* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

button {
  appearance: none;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
